@import "./normalize.css";
@import "variables.scss";
@import "style-fragment.scss";
@import "animation.scss";
@import "modal-style.scss";
@import "checkbox.scss";
@import "note-style.scss";
@import "find-note.scss";

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: $colorMainPurple;
    cursor: pointer;
    &:hover {
        background-color: $colorPurpleDark;
    }
}

// center
.center {
    padding-left: calc(50% - #{$widthSuite} / 2);
    padding-right: calc(50% - #{$widthSuite} / 2);
}

.button-focus {
    color: $colorWhite;
    background-color: $colorMainPurple;
    @include animation(backround-color);
    &:hover {
        background-color: $colorPurpleDark;
    }
}

.btn {
    padding: 10px;
    font-size: $fsBtn;
    @extend %inpAndBtnBorder;
}

.input {
    padding: 8px 16px;
    font-size: $fsBtn;
    color: $colorMainPurple;
    @extend %inpAndBtnBorder;
    &::placeholder {
        @extend %placeHolderFont;
    }
    &:focus {
        outline-color: $colorMainPurple;
    }
}

.ttl {
    margin-top: 40px;
    margin-bottom: 18px;
    text-align: center;
    color: $colorBlack;
    font-family: Kanit;
    font-size: $fsTitle;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
}

//btn add
.btn-create-note {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(100% / 2);

    &__img {
        height: calc(40px + 8 * (100vw - 320px) / 530)
    }
}

.note {
    padding-left: 15%;
    padding-right: 15%;
    &__container {
        margin-top: 17px;
    }
}

